,animal,session,trial,offer_prob,slp_accept,quit,slp_T_Entry_time,slp_choice_time,reward,restaurant
0,RRM026,Day151,1,0.0,1.0,NaN,46.082765,46.216269,0,1
1,RRM026,Day151,2,20.0,1.0,NaN,71.738138,72.305958,1,2
2,RRM026,Day151,3,0.0,1.0,NaN,1737.715123,1738.281459,0,3
3,RRM026,Day151,4,80.0,1.0,NaN,2008.432755,2009.333466,1,4
4,RRM026,Day151,5,20.0,1.0,NaN,2102.557427,2102.857869,0,1
...,...,...,...,...,...,...,...,...,...,...
12486,RRM036,Day176,127,20.0,0.0,3542.927782,3541.425997,3542.760218,0,3
12487,RRM036,Day176,128,100.0,1.0,NaN,3543.799181,3544.132493,1,4
12488,RRM036,Day176,129,100.0,1.0,NaN,3569.663181,3569.962931,1,1
12489,RRM036,Day176,130,80.0,1.0,NaN,3608.031552,3608.366349,1,2
12490,RRM036,Day176,131,20.0,0.0,3627.858650,3627.257536,3627.724416,0,3